<h1>Item to purshase</h1>

<form action="/checkout" method="POST">
  <Label>Item to purshase: </Label>
  <input type="text" name="item" />
  <input type="submit" value="Submit" id="submit" />
</form>
